<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
    <title>Registration Admin</title>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/_pluggable/registration/css/style.css')}" />
</head>

<body>
<div id="registration_admin">
    <h1>Registration Admin</h1>
    <table>
      <tr>
        <th>Date</th>
        <th>Email</th>
        <th>Username</th>
        <th>Activation Link</th>
      </tr>
      <tr py:for="reg in registrations">
        <td>${reg.time.strftime('%Y-%m-%d %H:%M:%S')}</td>
        <td>${reg.email_address}</td>
        <td>${reg.user_name}</td>
        <td><a href="${reg.activation_link}">activate</a></td>
      </tr>
    </table>
</div>
</body>
</html>
